.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li>label[for='todo'] {
  width: 210px;
}

.container {
  margin: 10% 20%;
}

#allCheck, #allUncheck{
  margin-left: 5px; 
}

