.card-text{
  margin-top: 180px; 
  -webkit-text-stroke: 0.8px black;
  color: white;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  margin: -12px;
  border-radius: 15px;
  border: 1px solid gray;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-add-favorite {
  margin-right: 15px; 
}

#show-user-modal{
  margin: 0 auto;
}

.img-fluid {
  block-size: 80%;
  margin-left: 25px;
  margin-top: 5px;
}

#show-user-information{
  padding-top: 50px; 
}

#data-panel {
  margin-top: 70px; 
  justify-content: center;
}

#lucky{
  color:rgba(255, 255, 255, 50%);
}

#lucky:hover{
  color: goldenrod;
}

.thumbnails{
  width: auto;
  height: auto;
  padding-right: 0px;  
}

.table td{
  vertical-align: middle;
}

.table div{
  width:50px;
  margin: 20px;
  
}

#pagination {
  display: flex;
  flex-wrap:wrap;
}